.bluredBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--cinza-claro);
    height: 100%;
    width: 100%;
}

.modal{
    display: flex;
    width: 50rem;
    height: 45rem;
    border: 2px solid black;
    background-color: #FFF;
}

.image{
    display: flex;
    width: 45%;
    height: 100%;
    background-color: var(--cinza-escuro);
    align-items: center;
    justify-content: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    width: 55%;
    height: 100%;
    gap: 6rem;
}

.oAuthItensWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.linhaDivisoriaWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.linhaDivisoria{
    width: 100%;
}

.ouPlaceholder{
    position: fixed;
    background-color: #FFF;
    font-weight: 500;
}

 