.notFoundWrapper{
    display: flex;
    height: 100%;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    gap: 1rem;
    position: relative;
    transform: translate(0, 25%);
}

.descriptionWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFoundTitle{
    font-size: 2rem;
}

.notFoundSubtitle{
    font-size: 1.2rem;
}

@media (max-width: 1024px) {
    .notFoundWrapper{
        margin-top: 1.5rem;
        transform: translate(0, 10%);
    }

    .notFoundTitle{
        font-size: 1.8rem;
    }

    .notFoundSubtitle{
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {

    .notFoundWrapper{
        margin-top: 1rem;
        transform: translate(0, 0);
        padding: 0 1rem;
        text-align: center;
    }

    .notFoundTitle{
        font-size: 1.5rem;
    }

    .notFoundSubtitle{
        font-size: 1rem;
    }
}
