.text{
    font-size: 0.7rem;
}

.title, .text{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icon_wrapper{
    display: flex;
    justify-content: center;
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
}


@media (max-width: 1024px) {
    .container{
        gap: 0.75rem;
    }

    .text{
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) {
    .container{
        gap: 0.5rem;
    }

    .icon_wrapper{
        align-items: center;
    }

    .info_wrapper{
        align-items: flex-start;
    }

    .text{
        font-size: 0.7rem;
    }
}
