
h1{
    font-size: 1rem;
}

p{
    font-size: 0.7rem;
}

h1, p{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icon_wrapper{
    display: flex;
    justify-content: center;
}

.info_wrapper{
    display: flex;
    flex-direction: column;
     align-items: start;
}