.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    display: flex;
    height: 11;
}

.catalogTitle{
    font-size: 2rem;
    padding-left: 3rem;
}

.cardsWrapper{
    margin-top: 5rem;
}

