.container {
    overflow-x: auto;
}

.topContent{
    display: flex;
    flex-direction: row;
    background-color: var(--cinza-claro);
    height: 22rem;
}

.titleContainer {
    display: flex;
    width: 27rem;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    margin-left: 10rem;
    gap: 1rem;
}

.title{
    font-size: 35px;
    font-weight: 900;
}

.servicesTitle {
    font-size: 30px;
    font-weight: 600;
}

.subtitle {
    font-size: 22px;
}

.middleContent {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 3rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 3rem;
}

.serviceCards {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    padding-right: 0;
    justify-content: center;
    align-items: flex-start;
}

.bottomContent {
    display: flex;
    flex-direction: row;
    background-color: var(--cinza-claro);
    padding: 2rem 0;
    gap: 10rem;
}

.leftDiv {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: fit-content;
    align-items: center;
    gap: 3rem;
}

.empilhadeiraImage {
    width: 579px;
    height: 579px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empilhadeiraImage img {
    width: 100%;
    height: auto;
}

.rigthDiv {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.motivosAlugarContainer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}

.motivosAlugar {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-left: 2rem;
}

.buttonSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.button {
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    width: fit-content;
    color: black;
}

.motivosAlugar:hover {
    cursor: pointer;
}


@media (max-width: 1024px) {
    .topContent {
        padding: 2rem 3rem;
        height: auto;
    }

    .titleContainer {
        margin-left: 0;
        margin-top: 2rem;
        width: 100%;
    }

    .middleContent {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .serviceCards {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .bottomContent {
        padding: 2rem 3rem;
        gap: 4rem;
        align-items: center;
    }

    .leftDiv {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .topContent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 1.5rem;
        height: auto;
    }

    .titleContainer {
        margin: 0 0 2rem 0;
        align-items: center;
        width: 100%;
    }

    .title {
        font-size: 1.8rem;
        text-align: center;
    }

    .servicesTitle {
        font-size: 1.5rem;
        text-align: center;
    }

    .subtitle {
        font-size: 1rem;
    }

    .middleContent {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        gap: 2.5rem;
    }

    .serviceCards {
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;
    }

    .bottomContent {
        flex-direction: column;
        padding: 2.5rem 1.5rem;
        gap: 2.5rem;
    }

    .leftDiv {
        width: 100%;
        align-items: center;
        margin-left: 0;
    }

    .empilhadeiraImage {
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .rigthDiv {
        padding-top: 2rem;
        width: 100%;
    }

    .motivosAlugarContainer {
        margin-top: 2rem;
        gap: 2rem;
    }

    .buttonSpan {
        margin-top: 2rem;
    }
}
