.wrapper {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
    transition: 0.1s ease;
}

.header:hover {
    transform: scale(1.02);
}

.icon {
    cursor: pointer;
}

.content {
    max-height: 0;
    overflow: hidden;
    padding-left: 42px;
    transition: max-height 0.1s ease;
    color: var(--text-color);
}

.aberto {
    max-height: 200px;
    margin-top: 5px;
}