.container {
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    
}

.titleContainer {
    display: flex;
    justify-content: center;
    background-color: var(--cinza-escuro);
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #000;
    cursor: pointer;
    color: #000;     
}

.content {
    display: none;
    padding: 8px 12px;
}

.aberto {
    display: block;
}
