.visitScheduleForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.formDiv{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.formTitle{
    font-size: 1.2rem;
    font-weight: 500;
}

.fileChooserWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 3px dotted  black;
}

.fileChooserWrapper:hover{
    border-color: blue;
}

.fileChooserRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.fileDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem
}

.fileContainer{
    display: flex;
    width: fit-content;
    padding: 2px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
    gap: 2rem;
    padding: 1rem;
}

.error{
    color: red;
}

.dropdown{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

.labelWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.externalLinkIcon{
    color: var(--cor-primaria)
}

.textArea{
    font-size: large;
    padding: 0.5rem;
    border-radius: 5px;
}