.bluredBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--cinza-claro);
    height: 100%;
    width: 100%;
}

.modal{
    display: flex;
    width: 50rem;
    height: 45rem;
    border: 2px solid black;
    background-color: #FFF;
}

.image{
    display: flex;
    width: 45%;
    height: 100%;
    background-color: var(--cinza-escuro);
    align-items: center;
    justify-content: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 55%;
    height: 100%;
    gap: 3rem;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 80%;
}

.input{
    height: 3rem;
    padding-left: 1rem;
    font-size: large;
}

.label{
    font-weight: 500;
    padding-left: 0.5rem;
}

.button{
    width: 41%;
    height: 3rem;
    background-color: var(--cinza-escuro);
    border: 1px #000 solid;
}

.registerWrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    width: 100%;    
}