.bluredBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--cinza-claro);
    height: 100%;
    width: 100%;
}

.modal{
    display: flex;
    width: 50rem;
    height: 45rem;
    border: 2px solid black;
    background-color: #FFF;
}

.image{
    display: flex;
    width: 45%;
    height: 100%;
    background-color: var(--cinza-escuro);
    align-items: center;
    justify-content: center;
}

.modalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    width: 55%;
    height: 100%;
    gap: 3rem;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width: 80%;
}

.input{
    height: 3rem;
    padding-left: 1rem;
    font-size: large;
    border-radius: 6px;
}

input:focus{
    outline: none;
}

.label{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-left: 0.5rem;
    color: black;
}

.button{
    width: 41%;
    height: 3rem;
    background-color: var(--cinza-escuro);
    border: 1px solid;
    border-color: #000;
}

.registerWrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    width: 100%;    
}

.registerWrapper p{
    color: #000;
}

.errorMessage{
    font-size: 12px;
    color: red;
}

.errorDiv{
    border-color: red !important;
}

.buttonText{
    color: #000;
}


@media (max-width: 1024px) {
    .modal{
        width: 40rem;
        height: 38rem;
    }

    .inputWrapper{
        width: 85%;
    }

    .button{
        width: 50%;
    }
}


@media (max-width: 768px) {
    .bluredBackground{
        align-items: flex-start;
        padding: 1.5rem 0.5rem;
    }

    .modal{
        flex-direction: column;
        width: 100%;
        max-width: 24rem; 
        height: auto;
        max-height: calc(100vh - 3rem);
        overflow-y: auto; 
    }

    .image{
        width: 100%;
        height: 8rem;
    }

    .modalContent{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        padding-bottom: 1.5rem;
        gap: 2rem;
    }

    .inputWrapper{
        width: 90%;
    }

    .button{
        width: 60%;
    }
}
