.container{
    border: 2px solid #000;
    width: 37rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: black;

}

.imageDiv{
    width: 100%;
    height: 22rem;
}

.image{
    width: 1000px;
    height: 100%;
    border-radius: 10px 10px 0 0;

}

.descriptionDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #000;
    background-color: var(--cinza-claro);
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 0 0 10px 10px;
}

.titleRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: black
}

.readMoreRow{
    display: flex;
    justify-content: center;
}

.readMoreButton{
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    gap: 1rem;
    
}

.readMoreButton:hover{
    transform: scale(1.15);
    transition: transform 0.2s ease;
}