.container{
    border: 2px solid #000;
    width: 37rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

.imageDiv{
    width: 100%;
    height: 22rem;
}

.image{
    width: 1000px;
    height: 100%;
}

.descriptionDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #000;
    flex: 1;
    padding: 0.5rem 1rem;
}

.titleRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.readMoreRow{
    display: flex;
    justify-content: center;
}

.readMoreButton{
    display: flex;
    justify-content: center;
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    gap: 1rem;
}