.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cinza-escuro);
    width: 100%;
    height: 4rem;
}

.nav_links{
    display: flex;
    flex-direction: row;
    padding: calc(var(--header-logo-left-padding));
    gap: 5rem;
}

.nav_link{
    color: black;
}

.nav_link:hover{
    color: var(--cor-primaria);
}

.buttons{
    display: flex;
    margin-right: 5rem;
    gap: 1rem;
}

.button{
    background-color: var(--cor-primaria);
    border: 2px solid #000;
    color: #000;
}

.userDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-right: 5rem;
    color: #000;
}

.userInformationWrapper p {
    font-size: 1rem;
}
 