.novaEmpilhadeiraBotao{
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.fileChooserWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border: 3px dotted  black;
}

.fileChooserWrapper:hover{
    border-color: blue;
}

.fileChooserRow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.fileDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem
}

.fileContainer{
    display: flex;
    width: fit-content;
    padding: 2px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
    gap: 2rem;
    padding: 1rem;
}

.inputWrapper{
    display: flex;
    flex-direction: column;

}

.input{
    height: 3rem;
    min-width: 30rem;
    padding-left: 1rem;
    border-color: black;
    border-width: 1px;
    font-size: large;
    border-radius: 6px;

}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
}


.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.errorMessage{
    font-size: 12px;
    color: red;
}

.label{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding-left: 0.5rem;
    color: black;
}

.tableWrapper{
    margin-top: 5rem;
}

 