.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    display: flex;
    width: 100%;
}

.catalogTitle{
    font-size: 2rem;
    margin-bottom: 4rem;
}

.titleRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem;
}