.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.catalogTitle{
    font-size: 2rem;
    padding-left: 3rem;
    margin-bottom: 4rem;
}


@media (max-width: 1024px) {
    .container {
        padding: 2rem 3rem;
    }

    .catalogTitle {
        padding-left: 1.5rem;
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 1.5rem;
    }

    .catalogTitle{
        padding-left: 0;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
    }
}
