.container{
    display: flex;
    flex-direction: column;
    gap:2rem;
    border-top: 2px solid #000;
    padding: 1rem 0;
    padding-right: 1.75rem;
}

.topRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5.5rem;
}

.bottomRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
}

.socialMediaIcons{
   display: flex;
   gap: 1.5rem;
}

.socialMediaIcon{
    cursor: pointer;
}

.socialMediaIcon:hover{
    transition: 0.2s;
    transform: scale(1.5);
}

.instagramIcon:hover{
    color: rgb(228, 80, 105);
}

.linkedinIcon:hover{
    color: rgb(0, 0, 255)
}

.links{
    display: flex;
    gap: 2rem;
}

.link{
    color: #000;
}