.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: var(--cinza-escuro);
    width: 4rem;
    height: 4rem;
}

.container:hover{
    opacity: 0.7;
}