.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 4rem;
    height: 4rem;
    cursor: default;
}

.notSelectedDate{
    background-color: var(--cinza-escuro);
}

.selectedDate{
    background-color: var(--cor-primaria);
}

.container:hover{
    opacity: 0.7;
}