.table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  table-layout: auto;  
  width: auto;          
  color: black
}

.table th, .table td {
  border: 1px solid #000;
  padding: 1rem 5rem;
}

.table tr:nth-child(odd) {
  background-color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table thead th{
    background-color: var(--cor-primaria);
}

.acoesButton{
  margin-left: 1rem;
}