.tableWrapper {
  width: 100%;
  overflow-x: auto; 
}

.table {
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: center;
  table-layout: fixed;
  width: max-content;
}

.table th, .table td {
  border: 1px solid #000;
  padding: 1rem 2rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  min-width: 150px;
  max-width: 200px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  min-width: 120px;
  max-width: 150px;
}

.table th:not(:nth-child(1)):not(:nth-child(2)),
.table td:not(:nth-child(1)):not(:nth-child(2)) {
  min-width: 300px;
}

.table thead th {
  background-color: var(--cor-primaria);
}

@media (max-width: 1625px) {
  .tableWrapper {
    overflow-x: auto;
  }

  .table {
    width: max-content;
  }

  .table th, .table td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .table {
    font-size: 15px;
  }

  .table th, .table td {
    padding: 0.8rem 2.5rem;
  }
}

@media (max-width: 768px) {
  .tableWrapper {
    overflow-x: auto;
    width: 100%;
  }

  .table {
    width: max-content;
    font-size: 14px;
  }

  .table th, .table td {
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
  }
}

.acoesButton:disabled{
  cursor: default;
  background-color: var(--cinza-escuro) !important;
}

.acoesButton:disabled:hover{
  opacity: 1;
}