.modal {
  background: #fff;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  outline: none;
  width: 60em;
  height: 60rem;
  transform: translateY(-10%);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
