*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Configurações gerais (independem do tema) */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tema CLARO */
:root[data-theme='light'] {
  --bg-color: #ffffff;
  --text-color: #213547;

  --cinza-claro: #f3f3f3;      /* já usado no teu projeto */
  --cor-primaria: #F77F00;     /* já usado no teu projeto */
}

/* Tema ESCURO */
:root[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #f5f5f5;

  --cinza-claro: #1e1e1e;
  --cor-primaria: #ff9800;
}

/* Aplica as cores globais */
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Links */
a {
  font-weight: 500;
  color: #065fd4;
  cursor: pointer;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Títulos */
h1 {
  font-size: 1rem;
  line-height: 1.1;
}

/* Botão padrão */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s, opacity 0.25s;
}

button:hover{
  opacity: 70%;
}
