.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 70%;
    gap: 1rem;
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: var(--cinza-claro);
}

.img{
    width: 48px;
    height: 48px;
}


@media (max-width: 1024px) {
    .container{
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
        max-width: 20rem;
        gap: 0.75rem;
        padding: 6px 10px;
    }

    .img{
        width: 40px;
        height: 40px;
    }
}
