.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 70%;
    gap: 1rem;
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: var(--cinza-claro);
 }

.img{
    width: 48px;
    height: 48px;
}