.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
}

.image {
  flex: 1;             
  width: 22rem;         
  height: 22rem;
  object-fit: fill;
  display: block;
}